@charset "utf-8";
html {
    -webkit-text-size-adjust: 100%;/*不想让iPhone横坚屏切换的时候调节文字*/
    -ms-text-size-adjust: 100%;
}

html * {
    -webkit-text-size-adjust: none;/*突破chrome 12px限制*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*当用户点击iOS的Safari浏览器中的链接或JavaScript的可点击的元素时，覆盖显示的高亮颜色。*/
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

input,textarea,select{
    outline:0 none;/*去掉文本框的默认轮廓线*/
    font-size: 100%
}

textarea{
	overflow-y: auto;
}

table {
    border-collapse: collapse; /*让表格边框细线*/
    border-spacing: 0; /*清除边框间距*/
}

fieldset, img {
    border: 0 none; /*有些浏览器默认这些标签有边框，所以要清除默认边框*/
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

i, cite, em, var, address, dfn {
	font-style: normal;
}

u, ins {
	text-decoration: none;
}

strong, b {
	font-weight: normal;
}

caption,code,th {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	/*清除标签默认文本样式和加粗*/
}

ol, ul {
    list-style: none; /*清除列表默认样式*/
}

caption, th {
    text-align: left; /*清除标签默认文本居中对齐*/
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal; /*清除标题标签的默认样式*/
}

q:before, q:after {
    content: ''
}

sub, sup{
    font-size:100%;
    vertical-align: baseline;
}

a {
    text-decoration: none; /*大部分页面中的链接没有下划线*/
	color: inherit;
}

a:hover {
    text-decoration: none;
}

.clearfix:after {
    height: 0;
    content: " ";
    display: block;
    overflow: hidden;
    clear: both;
}

.clearfix {
    zoom: 1; /*IE低版本浏览器不支持after伪类所以要加这一句*/
}
